$background-grey: #f3f3f3;
$button-grey: #5e5e5e;

.container {
   font-size: 1.3rem;
}

.is-completed {
   text-decoration: line-through;
}

.tdl-input {
   padding-top: 10px;
   display: inline;
}

.tdl-task {
   padding: .5rem;
   font-size: .8rem;
}

.form-style {
   margin-top: 10px 10px;
}

body {
   font-family: "Helvitica Neue", Helvitica, Arial, sans-serif;
   font-size: 15px;
   line-height: 1.3rem;
   background-color: $background-grey;
}

.heading {
   border-bottom: 3px solid #880055;
   display: inline;
}

.form-style button {
   height: 2.0rem;
   border: none;
   font-size: .6em;   
   cursor: pointer;
   color: #fff;
   background-color: #000;
}

.tdl-input {
   width: 300px;
   height: 2.0rem;
   box-sizing: border-box;
   float: left;
   font-size: 1.0rem;
}